{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MDB5</title>
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
</head>
<body>
    <center>
    <h1 class="btn btn-danger">Iconic Pic</h1>
    </center>
    <center>
        <img src="{% static 'images/trio.jpg' %}" width="1000px" height="500px" alt="Image Not Found!!!!">
    </center>






    <script src="{% static 'js/mdb.es.min.js' %}"></script>
</body>
</html>